In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
pd.set_option("display.max_rows",None)
pd.set_option("display.max_columns",None)

In [2]:
ruta="./Datos/"
train=os.listdir(ruta)[1]
df=pd.read_csv(ruta+train)

In [3]:
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,0.0252,0.0383,0.9722,0.6341,0.0144,0.0000,0.0690,0.0833,0.1250,0.0377,0.022,0.0198,0.0,0.0,0.0250,0.0369,0.9722,0.6243,0.0144,0.00,0.0690,0.0833,0.1250,0.0375,0.0205,0.0193,0.0000,0.00,reg oper account,block of flats,0.0149,"Stone, brick",No,2.0,2.0,2.0,2.0,-1134.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,1,1,0,1,1,0,Core staff,2.0,1,1,MONDAY,11,0,0,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,0.0924,0.0538,0.9851,0.8040,0.0497,0.0806,0.0345,0.2917,0.3333,0.0128,0.079,0.0554,0.0,0.0,0.0968,0.0529,0.9851,0.7987,0.0608,0.08,0.0345,0.2917,0.3333,0.0132,0.0787,0.0558,0.0039,0.01,reg oper account,block of flats,0.0714,Block,No,1.0,0.0,1.0,0.0,-828.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-815.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,1,1,0,1,0,0,Laborers,2.0,2,2,WEDNESDAY,17,0,0,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,2.0,0.0,-617.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,1,1,0,1,0,0,Core staff,1.0,2,2,THURSDAY,11,0,0,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,-1106.0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df.describe(include="all")

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,APARTMENTS_MODE,BASEMENTAREA_MODE,YEARS_BEGINEXPLUATATION_MODE,YEARS_BUILD_MODE,COMMONAREA_MODE,ELEVATORS_MODE,ENTRANCES_MODE,FLOORSMAX_MODE,FLOORSMIN_MODE,LANDAREA_MODE,LIVINGAPARTMENTS_MODE,LIVINGAREA_MODE,NONLIVINGAPARTMENTS_MODE,NONLIVINGAREA_MODE,APARTMENTS_MEDI,BASEMENTAREA_MEDI,YEARS_BEGINEXPLUATATION_MEDI,YEARS_BUILD_MEDI,COMMONAREA_MEDI,ELEVATORS_MEDI,ENTRANCES_MEDI,FLOORSMAX_MEDI,FLOORSMIN_MEDI,LANDAREA_MEDI,LIVINGAPARTMENTS_MEDI,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MEDI,NONLIVINGAREA_MEDI,FONDKAPREMONT_MODE,HOUSETYPE_MODE,TOTALAREA_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_2,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511,307511,307511,307511,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,306219,307511,307511,307511,307511,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,104582.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,211120,307509.000000,307511.000000,307511.000000,307511,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511,134133.000000,3.068510e+05,246546.000000,151450.00000,127568.000000,157504.000000,103023.000000,92646.000000,143620.000000,152683.000000,154491.000000,98869.000000,124921.000000,97312.000000,153161.000000,93997.000000,137829.000000,151450.000000,127568.000000,157504.000000,103023.000000,92646.000000,143620.000000,152683.000000,154491.000000,98869.000000,124921.000000,97312.000000,153161.000000,93997.000000,137829.000000,151450.000000,127568.000000,157504.000000,103023.000000,92646.000000,143620.000000,152683.000000,154491.000000,98869.000000,124921.000000,97312.000000,153161.000000,93997.000000,137829.000000,97216,153214,159080.000000,151170,161756,306490.000000,306490.000000,306490.000000,306490.000000,307510.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.00000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
unique,NaN,NaN,2,3,2,2,NaN,NaN,NaN,NaN,NaN,7,8,5,6,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3,NaN,7,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,Cash loans,F,N,Y,NaN,NaN,NaN,NaN,NaN,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Laborers,NaN,NaN,NaN,TUESDAY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Business Entity Type 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,reg oper account,block of flats,NaN,Panel,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,278232,202448,202924,213312,NaN,NaN,NaN,NaN,NaN,248526,158774,218391,196432,272868,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55186,NaN,NaN,NaN,53901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73830,150503,NaN,66040,159428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,278180.518577,0.080729,NaN,NaN,NaN,NaN,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,NaN,NaN,NaN,NaN,NaN,0.020868,-16036.995067,63815.045904,-4986.120328,-2994.202373,12.061091,0.999997,0.819889,0.199368,0.998133,0.281066,0.056720,NaN,2.152665,2.052463,2.031521,NaN,12.063419,0.015144,0.050769,0.040659,0.078173,0.230454,0.179555,NaN,0.502130,5.143927e-01,0.510853,0.11744,0.088442,0.977735,0.752471,0.044621,0.078942,0.149725,0.226282,0.231894,0.066333,0.100775,0.107399,0.008809,0.028358,0.114231,0.087543,0.977065,0.759637,0.042553,0.074490,0.145193,0.222315,0.228058,0.064958,0.105645,0.105975,0.008076,0.027022,0.117850,0.087955,0.977752,0.755746,0.044595,0.078078,0.149213,0.225897,0.231625,0.067169,0.101954,0.108607,0.008651,0.028236,NaN,NaN,0.102547,NaN,NaN,1.422245,0.143421,1.405292,0.100049,-962.858788,0.000042,0.710023,0.000081,0.015115,0.088055,0.000192,0.081376,0.003896,0.000023,0.003912,0.000007,0.003525,0.002936,0.00121,0.009928,0.000267,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,NaN,NaN,NaN,NaN,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,NaN,NaN,NaN,NaN,NaN,0.013831,4363.988632,141275.766519,3522.886321,1509.450419,11.944812,0.001803,0.384280,0.399526,0.043164,0.449521,0.231307,NaN,0.910682,0.509034,0.502737,NaN,3.265832,0.122126,0.219526,0.197499,0.268444,0.421124,0.383817,NaN,0.211062,1.910602e-01,0.194844,0.10824,0.082438,0.059223,0.113280,0.076036,0.134576,0.100049,0.144641,0.161380,0.081184,0.092576,0.110565,0.047732,0.069523,0.107936,0.084307,0.064575,0.110111,0.074445,0.132256,0.100977,0.143709,0.161160,0.081750,0.097880,0.111845,0.046276,0.070254,0.109076,0.082179,0.059897,0.112066,0.076144,0.134467,0.100368,0.145067,0.161934,0.082167,0.093642,0.112260,0.047415,0.070166,NaN,NaN,0.107462,NaN,NaN,2.400989,0.446698,2.379803,0.362291,826.808487,0.006502,0.453752,0.009016,0.122010,0.283376,0.013850,0.273412,0.062295,0.004771,0.062424,0.002550,0.059268,0.054110,0.03476,0.099144,0.016327,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,NaN,NaN,NaN,NaN,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,NaN,NaN,NaN,NaN,NaN,0.000290,-25229.000000,-17912.000000,-24672.000000,-7197.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,1.000000,1.000000,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.014568,8.173617e-08,0.000527,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,-4292.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,NaN,NaN,NaN,NaN,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,NaN,NaN,NaN,NaN,NaN,0.010006,-19682.000000,-2760.000000,-7479.500000,-4299.000000,5.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,NaN,2.000000,2.000000,2.000000,NaN,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.334007,3.924574e-01,0.370650,0.05770,0.044200,0.976700,0.687200,0.007800,0.000000,0.069000,0.166700,0.083300,0.018700,0.050400,0.045300,0.000000,0.000000,0.052500,0.040700,0.976700,0.699400,0.007200,0.000000,0.069000,0.166700,0.083300,0.016600,0.054200,0.042700,0.000000,0.000000,0.058300,0.043700,0.976700,0.691400,0.007900,0.000000,0.069000,0.166700,0.083300,0.018700,0.051300,0.045700,0.000000,0.000000,NaN,NaN,0.041200,NaN,NaN,0.000000,0.000000,0.000000,0.000000,-1570.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,NaN,NaN,NaN,NaN,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,NaN,NaN,NaN,NaN,NaN,0.018850,-15750.000000,-1213.000000,-4504.000000,-3254.000000,9.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,NaN,2.000000,2.000000,2.000000,NaN,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.505998,5.659614e-01,0.535276,0.08760,0.076300,0.981600,0.755200,0.021100,0.000000,0.137900,0.166700,0.208300,0.048100,0.075600,0.074500,0.000000,0.003600,0.084000,0.074600,0.981600,0.764800,0.019000,0.000000,0.137900,0.166700,0.208300,0.045800,0.077100,0.073100,0.000000,0.001100,0.086400,0.075800,0.981600,0.758500,0.020800,0.000000,0.137900,0.166700,0.208300,0.048700,0.076100,0.074900,0.000000,0.003100,NaN,NaN,0.068800,NaN,NaN,0.000000,0.000000,0.000000,0.000000,-757.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,NaN,NaN,NaN,NaN,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,NaN,NaN,NaN,NaN,NaN,0.028663,-12413.000000,-289.000000,-2010.000000,-1720.000000,15.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,NaN,3.000000,2.000000,2.000000,NaN,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.675053,6.636171e-01,0.669057,0.14850,0.112200,0.986600,0.823200,0.051500,0.120000,0.206900,0.333300,0.375000,0.085600,0.121000,0.129900,0.003900,0.027700,0.143900,0.112400,0.986600,0.823600,0.049000,0.120800,0.206900,0.333300,0.375000,0.084100,0.131300,0.125200,0.003900,0.023100,0.148900,0.111600,0.986600,0.825600,0.051300,0.120000,0.206900,0.333300,0.375000,0.086800,0.123100,0.130300,0.003900,0.026600,NaN,NaN,0.127600,NaN,NaN,2.000000,0.000000,2.000000,0.000000,-274.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,NaN,NaN,NaN,NaN,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,NaN,NaN,NaN,NaN,NaN,0.072508,-7489.000000,365243.000000,0.000000,0.000000,91.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,20.000000,3.000000,3.000000,NaN,23.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,0.962693,8.549997e-01,0.896010,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,NaN,1.000000,NaN,NaN,348.000000,34.000000,344.000000,24.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

In [5]:
import seaborn as sns
Flag=[x for x in df.columns if "FLAG" in x]

In [6]:
# plt.figure(figsize=(15,20))
# cor_matrix=df[Flag].corr()
# sns.heatmap(cor_matrix,annot=True)

In [7]:
No_Flag=[x for x in df.columns if "FLAG" not in x]

In [8]:
# cor_matrix=df[No_Flag].select_dtypes(include="number").corr()
# sns.heatmap(cor_matrix,annot=True)

Pasos a seguir:
* Calcularemos los diferentes valores que tienen las variables objeto.
* Las variables objeto utilizaremos un getdummies escogiedno solo el top5.
* Los valores nulos los imputaremos mediante arbol de decisión haciendo antes un KMEANS.
* Tendremos que balancear la target si queremos entrenar ya que el 8% es uno.
* Una vez imputados haremos cluster para predecir.
* Utilizaremos el arbol de decisión haciendo un gridsearchv.
* Utilizaremos application_Test para predecir.

In [9]:
for i in df.select_dtypes(include="object").columns:
    print(f"La variable {i} tiene estos valores únicos {df[i].nunique()}")

La variable NAME_CONTRACT_TYPE tiene estos valores únicos 2
La variable CODE_GENDER tiene estos valores únicos 3
La variable FLAG_OWN_CAR tiene estos valores únicos 2
La variable FLAG_OWN_REALTY tiene estos valores únicos 2
La variable NAME_TYPE_SUITE tiene estos valores únicos 7
La variable NAME_INCOME_TYPE tiene estos valores únicos 8
La variable NAME_EDUCATION_TYPE tiene estos valores únicos 5
La variable NAME_FAMILY_STATUS tiene estos valores únicos 6
La variable NAME_HOUSING_TYPE tiene estos valores únicos 6
La variable OCCUPATION_TYPE tiene estos valores únicos 18
La variable WEEKDAY_APPR_PROCESS_START tiene estos valores únicos 7
La variable ORGANIZATION_TYPE tiene estos valores únicos 58
La variable FONDKAPREMONT_MODE tiene estos valores únicos 4
La variable HOUSETYPE_MODE tiene estos valores únicos 3
La variable WALLSMATERIAL_MODE tiene estos valores únicos 7
La variable EMERGENCYSTATE_MODE tiene estos valores únicos 2

Observamos la variable que más diferentes valores unicos tiene

In [10]:
sorted(df["ORGANIZATION_TYPE"].unique())

['Advertising',
 'Agriculture',
 'Bank',
 'Business Entity Type 1',
 'Business Entity Type 2',
 'Business Entity Type 3',
 'Cleaning',
 'Construction',
 'Culture',
 'Electricity',
 'Emergency',
 'Government',
 'Hotel',
 'Housing',
 'Industry: type 1',
 'Industry: type 10',
 'Industry: type 11',
 'Industry: type 12',
 'Industry: type 13',
 'Industry: type 2',
 'Industry: type 3',
 'Industry: type 4',
 'Industry: type 5',
 'Industry: type 6',
 'Industry: type 7',
 'Industry: type 8',
 'Industry: type 9',
 'Insurance',
 'Kindergarten',
 'Legal Services',
 'Medicine',
 'Military',
 'Mobile',
 'Other',
 'Police',
 'Postal',
 'Realtor',
 'Religion',
 'Restaurant',
 'School',
 'Security',
 'Security Ministries',
 'Self-employed',
 'Services',
 'Telecom',
 'Trade: type 1',
 'Trade: type 2',
 'Trade: type 3',
 'Trade: type 4',
 'Trade: type 5',
 'Trade: type 6',
 'Trade: type 7',
 'Transport: type 1',
 'Transport: type 2',
 'Transport: type 3',
 'Transport: type 4',
 'University',
 'XNA']

Extraeremos hasta el espacio de cada una y eliminamos cosas que sobren

In [11]:
df["ORGANIZATION_TYPE"]=df["ORGANIZATION_TYPE"].str.split().str[0].str.replace(":", "")

## Pareto
* Se Creará un diccionario para aplicar la regla de pareto

In [12]:
for col in df.select_dtypes(include="object").columns:
    print("="*20)
    print(f"La columna es {col}")
    display(pd.DataFrame(df[col].value_counts(normalize=True).cumsum()))

====================
La columna es NAME_CONTRACT_TYPE

                 NAME_CONTRACT_TYPE
Cash loans                 0.904787
Revolving loans            1.000000

====================
La columna es CODE_GENDER

     CODE_GENDER
F       0.658344
M       0.999987
XNA     1.000000

====================
La columna es FLAG_OWN_CAR

   FLAG_OWN_CAR
N      0.659892
Y      1.000000

====================
La columna es FLAG_OWN_REALTY

   FLAG_OWN_REALTY
Y         0.693673
N         1.000000

====================
La columna es NAME_TYPE_SUITE

                 NAME_TYPE_SUITE
Unaccompanied           0.811596
Family                  0.942708
Spouse, partner         0.979838
Children                0.990507
Other_B                 0.996287
Other_A                 0.999115
Group of people         1.000000

====================
La columna es NAME_INCOME_TYPE

                      NAME_INCOME_TYPE
Working                       0.516320
Commercial associate          0.749212
Pensioner                     0.929245
State servant                 0.999821
Unemployed                    0.999893
Student                       0.999951
Businessman                   0.999984
Maternity leave               1.000000

====================
La columna es NAME_EDUCATION_TYPE

                               NAME_EDUCATION_TYPE
Secondary / secondary special             0.710189
Higher education                          0.953637
Incomplete higher                         0.987057
Lower secondary                           0.999467
Academic degree                           1.000000

====================
La columna es NAME_FAMILY_STATUS

                      NAME_FAMILY_STATUS
Married                         0.638780
Single / not married            0.786560
Civil marriage                  0.883386
Separated                       0.947677
Widow                           0.999993
Unknown                         1.000000

====================
La columna es NAME_HOUSING_TYPE

                     NAME_HOUSING_TYPE
House / apartment             0.887344
With parents                  0.935602
Municipal apartment           0.971968
Rented apartment              0.987841
Office apartment              0.996351
Co-op apartment               1.000000

====================
La columna es OCCUPATION_TYPE

                       OCCUPATION_TYPE
Laborers                      0.261396
Sales staff                   0.413452
Core staff                    0.544041
Managers                      0.645268
Drivers                       0.733384
High skill tech staff         0.787287
Accountants                   0.833768
Medicine staff                0.874204
Security staff                0.906039
Cooking staff                 0.934203
Cleaning staff                0.956243
Private service staff         0.968804
Low-skill Laborers            0.978718
Waiters/barmen staff          0.985103
Secretaries                   0.991285
Realty agents                 0.994842
HR staff                      0.997509
IT staff                      1.000000

====================
La columna es WEEKDAY_APPR_PROCESS_START

           WEEKDAY_APPR_PROCESS_START
TUESDAY                      0.175282
WEDNESDAY                    0.344167
MONDAY                       0.509084
THURSDAY                     0.673602
FRIDAY                       0.837297
SATURDAY                     0.947381
SUNDAY                       1.000000

====================
La columna es ORGANIZATION_TYPE

               ORGANIZATION_TYPE
Business                0.274881
XNA                     0.454953
Self-employed           0.579865
Other                   0.634117
Trade                   0.680668
Industry                0.727207
Medicine                0.763605
Government              0.797438
Transport               0.826673
School                  0.855592
Kindergarten            0.877965
Construction            0.899821
Security                0.916800
Housing                 0.926419
Military                0.934984
Bank                    0.943137
Agriculture             0.951117
Police                  0.958730
Postal                  0.965744
Restaurant              0.971634
Services                0.976755
University              0.981071
Hotel                   0.984212
Electricity             0.987301
Insurance               0.989243
Telecom                 0.991119
Emergency               0.992940
Advertising             0.994335
Realtor                 0.995623
Culture                 0.996855
Mobile                  0.997886
Legal                   0.998878
Cleaning                0.999724
Religion                1.000000

====================
La columna es FONDKAPREMONT_MODE

                       FONDKAPREMONT_MODE
reg oper account                 0.759443
reg oper spec account            0.883702
not specified                    0.942201
org spec account                 1.000000

====================
La columna es HOUSETYPE_MODE

                  HOUSETYPE_MODE
block of flats          0.982306
specific housing        0.992089
terraced house          1.000000

====================
La columna es WALLSMATERIAL_MODE

              WALLSMATERIAL_MODE
Panel                   0.436859
Stone, brick            0.865615
Block                   0.926824
Wooden                  0.962294
Mixed                   0.977482
Monolithic              0.989251
Others                  1.000000

====================
La columna es EMERGENCYSTATE_MODE

     EMERGENCYSTATE_MODE
No              0.985608
Yes             1.000000

* En este ejercicio se pondrá un umbral del 90% y se sumará una posición por si acaso se le sumará una posición
* Se aplciará a aquellas  variables uqe superen las siete categoriás diferentes

In [13]:
Diccionario={}
# col="ORGANIZATION_TYPE"
for col in df.select_dtypes(include="object").columns:
    if df[col].nunique()>7:
        ss=pd.DataFrame(df[col].value_counts(normalize=True).cumsum())
        Diccionario[col]=list(ss[:len(ss[ss[col]<=0.9])+1].index)

In [14]:
Diccionario

{'NAME_INCOME_TYPE': ['Working', 'Commercial associate', 'Pensioner'],
 'OCCUPATION_TYPE': ['Laborers',
  'Sales staff',
  'Core staff',
  'Managers',
  'Drivers',
  'High skill tech staff',
  'Accountants',
  'Medicine staff',
  'Security staff'],
 'ORGANIZATION_TYPE': ['Business',
  'XNA',
  'Self-employed',
  'Other',
  'Trade',
  'Industry',
  'Medicine',
  'Government',
  'Transport',
  'School',
  'Kindergarten',
  'Construction',
  'Security']}

* Se detecta que XNA son valores nulos por lo que se deben sustuir

In [15]:
df=df.replace('XNA',np.nan)

In [16]:
df.isnull().sum()

SK_ID_CURR                           0
TARGET                               0
NAME_CONTRACT_TYPE                   0
CODE_GENDER                          4
FLAG_OWN_CAR                         0
FLAG_OWN_REALTY                      0
CNT_CHILDREN                         0
AMT_INCOME_TOTAL                     0
AMT_CREDIT                           0
AMT_ANNUITY                         12
AMT_GOODS_PRICE                    278
NAME_TYPE_SUITE                   1292
NAME_INCOME_TYPE                     0
NAME_EDUCATION_TYPE                  0
NAME_FAMILY_STATUS                   0
NAME_HOUSING_TYPE                    0
REGION_POPULATION_RELATIVE           0
DAYS_BIRTH                           0
DAYS_EMPLOYED                        0
DAYS_REGISTRATION                    0
DAYS_ID_PUBLISH                      0
OWN_CAR_AGE                     202929
FLAG_MOBIL                           0
FLAG_EMP_PHONE                       0
FLAG_WORK_PHONE                      0
FLAG_CONT_MOBILE                     0
FLAG_PHONE                           0
FLAG_EMAIL                           0
OCCUPATION_TYPE                  96391
CNT_FAM_MEMBERS                      2
REGION_RATING_CLIENT                 0
REGION_RATING_CLIENT_W_CITY          0
WEEKDAY_APPR_PROCESS_START           0
HOUR_APPR_PROCESS_START              0
REG_REGION_NOT_LIVE_REGION           0
REG_REGION_NOT_WORK_REGION           0
LIVE_REGION_NOT_WORK_REGION          0
REG_CITY_NOT_LIVE_CITY               0
REG_CITY_NOT_WORK_CITY               0
LIVE_CITY_NOT_WORK_CITY              0
ORGANIZATION_TYPE                55374
EXT_SOURCE_1                    173378
EXT_SOURCE_2                       660
EXT_SOURCE_3                     60965
APARTMENTS_AVG                  156061
BASEMENTAREA_AVG                179943
YEARS_BEGINEXPLUATATION_AVG     150007
YEARS_BUILD_AVG                 204488
COMMONAREA_AVG                  214865
ELEVATORS_AVG                   163891
ENTRANCES_AVG                   154828
FLOORSMAX_AVG                   153020
FLOORSMIN_AVG                   208642
LANDAREA_AVG                    182590
LIVINGAPARTMENTS_AVG            210199
LIVINGAREA_AVG                  154350
NONLIVINGAPARTMENTS_AVG         213514
NONLIVINGAREA_AVG               169682
APARTMENTS_MODE                 156061
BASEMENTAREA_MODE               179943
YEARS_BEGINEXPLUATATION_MODE    150007
YEARS_BUILD_MODE                204488
COMMONAREA_MODE                 214865
ELEVATORS_MODE                  163891
ENTRANCES_MODE                  154828
FLOORSMAX_MODE                  153020
FLOORSMIN_MODE                  208642
LANDAREA_MODE                   182590
LIVINGAPARTMENTS_MODE           210199
LIVINGAREA_MODE                 154350
NONLIVINGAPARTMENTS_MODE        213514
NONLIVINGAREA_MODE              169682
APARTMENTS_MEDI                 156061
BASEMENTAREA_MEDI               179943
YEARS_BEGINEXPLUATATION_MEDI    150007
YEARS_BUILD_MEDI                204488
COMMONAREA_MEDI                 214865
ELEVATORS_MEDI                  163891
ENTRANCES_MEDI                  154828
FLOORSMAX_MEDI                  153020
FLOORSMIN_MEDI                  208642
LANDAREA_MEDI                   182590
LIVINGAPARTMENTS_MEDI           210199
LIVINGAREA_MEDI                 154350
NONLIVINGAPARTMENTS_MEDI        213514
NONLIVINGAREA_MEDI              169682
FONDKAPREMONT_MODE              210295
HOUSETYPE_MODE                  154297
TOTALAREA_MODE                  148431
WALLSMATERIAL_MODE              156341
EMERGENCYSTATE_MODE             145755
OBS_30_CNT_SOCIAL_CIRCLE          1021
DEF_30_CNT_SOCIAL_CIRCLE          1021
OBS_60_CNT_SOCIAL_CIRCLE          1021
DEF_60_CNT_SOCIAL_CIRCLE          1021
DAYS_LAST_PHONE_CHANGE               1
FLAG_DOCUMENT_2                      0
FLAG_DOCUMENT_3                      0
FLAG_DOCUMENT_4                      0
FLAG_DOCUMENT_5                      0
FLAG_DOCUMENT_6                      0
FLAG_DOCUMENT_7                      0
FLAG_DOCUMENT_8                      0
FLAG_DOCUMENT_9                      0
FLAG_DOCUMENT_10                     0
FLAG_DOCUMENT_11                     0
FLAG_DOCUMENT_12                     0
FLAG_DOCUMENT_13                     0
FLAG_DOCUMENT_14                     0
FLAG_DOCUMENT_15                     0
FLAG_DOCUMENT_16                     0
FLAG_DOCUMENT_17                     0
FLAG_DOCUMENT_18                     0
FLAG_DOCUMENT_19                     0
FLAG_DOCUMENT_20                     0
FLAG_DOCUMENT_21                     0
AMT_REQ_CREDIT_BUREAU_HOUR       41519
AMT_REQ_CREDIT_BUREAU_DAY        41519
AMT_REQ_CREDIT_BUREAU_WEEK       41519
AMT_REQ_CREDIT_BUREAU_MON        41519
AMT_REQ_CREDIT_BUREAU_QRT        41519
AMT_REQ_CREDIT_BUREAU_YEAR       41519
dtype: int64

Se ve variable como ``OWN_CAR_AGE`` que se deberá estudiar pq tiene 202929 valores nuloes.

In [17]:
df["OWN_CAR_AGE"].describe()

count    104582.000000
mean         12.061091
std          11.944812
min           0.000000
25%           5.000000
50%           9.000000
75%          15.000000
max          91.000000
Name: OWN_CAR_AGE, dtype: float64

Esta variable puede ser muy controvertida ya que nos falta información.
Por ello crearemos una variable de control de si tiene nan le daremos un 1 y sino un cero y lo compararemos con la target

In [18]:
df["Flag_OWN_CAR_AGE"]=np.where(df["OWN_CAR_AGE"].isnull(),1,0)

In [19]:
pd.crosstab(df["Flag_OWN_CAR_AGE"],df["TARGET"],margins=True,normalize=True)

TARGET                   0         1       All
Flag_OWN_CAR_AGE
0                 0.315455  0.024637  0.340092
1                 0.603816  0.056092  0.659908
All               0.919271  0.080729  1.000000

El 5% de las personas que no tienen coche propio tienen un target como uno.
Al estar desbalaceado la muestra a la edad del coche se le pondrá un valor alto ``999`` por si creamos un KMEANS y un modelo de ML Supervisado lo detecte en otro grupo

In [20]:
df["OWN_CAR_AGE"].fillna(999,inplace=True)

In [21]:
df.isnull().sum().sort_values(ascending=False)

COMMONAREA_MODE                 214865
COMMONAREA_AVG                  214865
COMMONAREA_MEDI                 214865
NONLIVINGAPARTMENTS_MEDI        213514
NONLIVINGAPARTMENTS_MODE        213514
NONLIVINGAPARTMENTS_AVG         213514
FONDKAPREMONT_MODE              210295
LIVINGAPARTMENTS_AVG            210199
LIVINGAPARTMENTS_MODE           210199
LIVINGAPARTMENTS_MEDI           210199
FLOORSMIN_AVG                   208642
FLOORSMIN_MODE                  208642
FLOORSMIN_MEDI                  208642
YEARS_BUILD_MEDI                204488
YEARS_BUILD_AVG                 204488
YEARS_BUILD_MODE                204488
LANDAREA_AVG                    182590
LANDAREA_MODE                   182590
LANDAREA_MEDI                   182590
BASEMENTAREA_MODE               179943
BASEMENTAREA_MEDI               179943
BASEMENTAREA_AVG                179943
EXT_SOURCE_1                    173378
NONLIVINGAREA_AVG               169682
NONLIVINGAREA_MODE              169682
NONLIVINGAREA_MEDI              169682
ELEVATORS_MODE                  163891
ELEVATORS_MEDI                  163891
ELEVATORS_AVG                   163891
WALLSMATERIAL_MODE              156341
APARTMENTS_MODE                 156061
APARTMENTS_MEDI                 156061
APARTMENTS_AVG                  156061
ENTRANCES_MEDI                  154828
ENTRANCES_MODE                  154828
ENTRANCES_AVG                   154828
LIVINGAREA_MEDI                 154350
LIVINGAREA_MODE                 154350
LIVINGAREA_AVG                  154350
HOUSETYPE_MODE                  154297
FLOORSMAX_MEDI                  153020
FLOORSMAX_MODE                  153020
FLOORSMAX_AVG                   153020
YEARS_BEGINEXPLUATATION_AVG     150007
YEARS_BEGINEXPLUATATION_MEDI    150007
YEARS_BEGINEXPLUATATION_MODE    150007
TOTALAREA_MODE                  148431
EMERGENCYSTATE_MODE             145755
OCCUPATION_TYPE                  96391
EXT_SOURCE_3                     60965
ORGANIZATION_TYPE                55374
AMT_REQ_CREDIT_BUREAU_WEEK       41519
AMT_REQ_CREDIT_BUREAU_HOUR       41519
AMT_REQ_CREDIT_BUREAU_DAY        41519
AMT_REQ_CREDIT_BUREAU_MON        41519
AMT_REQ_CREDIT_BUREAU_QRT        41519
AMT_REQ_CREDIT_BUREAU_YEAR       41519
NAME_TYPE_SUITE                   1292
DEF_60_CNT_SOCIAL_CIRCLE          1021
OBS_60_CNT_SOCIAL_CIRCLE          1021
DEF_30_CNT_SOCIAL_CIRCLE          1021
OBS_30_CNT_SOCIAL_CIRCLE          1021
EXT_SOURCE_2                       660
AMT_GOODS_PRICE                    278
AMT_ANNUITY                         12
CODE_GENDER                          4
CNT_FAM_MEMBERS                      2
DAYS_LAST_PHONE_CHANGE               1
FLAG_DOCUMENT_4                      0
FLAG_DOCUMENT_20                     0
FLAG_DOCUMENT_21                     0
FLAG_DOCUMENT_17                     0
FLAG_DOCUMENT_19                     0
FLAG_DOCUMENT_18                     0
FLAG_DOCUMENT_5                      0
FLAG_DOCUMENT_16                     0
FLAG_DOCUMENT_3                      0
FLAG_DOCUMENT_15                     0
FLAG_DOCUMENT_14                     0
FLAG_DOCUMENT_13                     0
FLAG_DOCUMENT_12                     0
FLAG_DOCUMENT_11                     0
FLAG_DOCUMENT_10                     0
FLAG_DOCUMENT_9                      0
FLAG_DOCUMENT_8                      0
FLAG_DOCUMENT_7                      0
FLAG_DOCUMENT_6                      0
FLAG_DOCUMENT_2                      0
SK_ID_CURR                           0
TARGET                               0
NAME_EDUCATION_TYPE                  0
DAYS_REGISTRATION                    0
DAYS_EMPLOYED                        0
DAYS_BIRTH                           0
REGION_POPULATION_RELATIVE           0
NAME_HOUSING_TYPE                    0
NAME_FAMILY_STATUS                   0
NAME_INCOME_TYPE                     0
LIVE_CITY_NOT_WORK_CITY              0
AMT_CREDIT                           0
AMT_INCOME_TOTAL                     0
CNT_CHILDREN                         0
FLAG_OWN_REALTY                      0
FLAG_OWN_CAR                         0
NAME_CONTRACT_TYPE                   0
DAYS_ID_PUBLISH                      0
OWN_CAR_AGE                          0
FLAG_MOBIL                           0
FLAG_EMP_PHONE                       0
FLAG_WORK_PHONE                      0
FLAG_CONT_MOBILE                     0
FLAG_PHONE                           0
FLAG_EMAIL                           0
REGION_RATING_CLIENT                 0
REGION_RATING_CLIENT_W_CITY          0
WEEKDAY_APPR_PROCESS_START           0
HOUR_APPR_PROCESS_START              0
REG_REGION_NOT_LIVE_REGION           0
REG_REGION_NOT_WORK_REGION           0
LIVE_REGION_NOT_WORK_REGION          0
REG_CITY_NOT_LIVE_CITY               0
REG_CITY_NOT_WORK_CITY               0
Flag_OWN_CAR_AGE                     0
dtype: int64

Para hacer diferentes imputaciones haremos lo siguiente.
* Los registros que tengan menos del 5% de valores nulos lo imputaremos a la moda **por si acaso es una variable categorica** o mediana por si fuera una variable ordinal
* Los registros que tengan más del 5% y menos del 40% de valores nulos lo imputaremos mediante un arbol de decisión.
* Los registros que superen el 40% e inferior al 60% haremos KMEANS entre 2 y 4 cluster y un arbol de decisión.
* Los registros que superen el 60% serán eliminados

In [22]:
Imputaciones=pd.DataFrame(df.isnull().sum().sort_values(ascending=False)/len(df)).reset_index()
Imputaciones.columns=["Columnas","Porcentaje"]

In [23]:
Eliminar=Imputaciones[Imputaciones["Porcentaje"]>=0.5]["Columnas"].values
Mediana=Imputaciones[Imputaciones["Porcentaje"]<0.05]["Columnas"].values
Variables_Arboles=Imputaciones[(Imputaciones["Porcentaje"]>=0.05) & (Imputaciones["Porcentaje"]<0.4)]["Columnas"].values
Variables_Karbol=Imputaciones[(Imputaciones["Porcentaje"]>=0.4) & (Imputaciones["Porcentaje"]<0.5)]["Columnas"].values

### Eliminadas

In [24]:
df=df.drop(columns=Eliminar)

### Imputadas a la mediana

In [25]:
import scipy.stats as ss

In [26]:
for col in Mediana:
    if df[col].dtypes=='O':
        relleno=df[col].value_counts().index[0]
        df[col]=df[col].fillna(relleno)
    elif df[col].dtypes=='int64':
         df[col]=df[col].fillna(np.median(df[col]))
    else:
        df[col]=df[col].fillna((df[col].mean()))

In [27]:
pd.DataFrame(df.isnull().sum().sort_values(ascending=False)/len(df)).reset_index()

                           index         0
0                 FLOORSMAX_MEDI  0.497608
1                 FLOORSMAX_MODE  0.497608
2                  FLOORSMAX_AVG  0.497608
3   YEARS_BEGINEXPLUATATION_MEDI  0.487810
4   YEARS_BEGINEXPLUATATION_MODE  0.487810
5    YEARS_BEGINEXPLUATATION_AVG  0.487810
6                 TOTALAREA_MODE  0.482685
7            EMERGENCYSTATE_MODE  0.473983
8                OCCUPATION_TYPE  0.313455
9                   EXT_SOURCE_3  0.198253
10             ORGANIZATION_TYPE  0.180072
11    AMT_REQ_CREDIT_BUREAU_HOUR  0.135016
12     AMT_REQ_CREDIT_BUREAU_DAY  0.135016
13    AMT_REQ_CREDIT_BUREAU_WEEK  0.135016
14     AMT_REQ_CREDIT_BUREAU_MON  0.135016
15     AMT_REQ_CREDIT_BUREAU_QRT  0.135016
16    AMT_REQ_CREDIT_BUREAU_YEAR  0.135016
17               FLAG_DOCUMENT_4  0.000000
18      OBS_30_CNT_SOCIAL_CIRCLE  0.000000
19      DEF_30_CNT_SOCIAL_CIRCLE  0.000000
20      OBS_60_CNT_SOCIAL_CIRCLE  0.000000
21      DEF_60_CNT_SOCIAL_CIRCLE  0.000000
22        DAYS_LAST_PHONE_CHANGE  0.000000
23               FLAG_DOCUMENT_2  0.000000
24               FLAG_DOCUMENT_3  0.000000
25                    SK_ID_CURR  0.000000
26               FLAG_DOCUMENT_5  0.000000
27              FLAG_DOCUMENT_15  0.000000
28              FLAG_DOCUMENT_21  0.000000
29              FLAG_DOCUMENT_20  0.000000
30              FLAG_DOCUMENT_19  0.000000
31              FLAG_DOCUMENT_18  0.000000
32              FLAG_DOCUMENT_17  0.000000
33              FLAG_DOCUMENT_16  0.000000
34              FLAG_DOCUMENT_14  0.000000
35               FLAG_DOCUMENT_6  0.000000
36              FLAG_DOCUMENT_13  0.000000
37              FLAG_DOCUMENT_12  0.000000
38              FLAG_DOCUMENT_11  0.000000
39              FLAG_DOCUMENT_10  0.000000
40               FLAG_DOCUMENT_9  0.000000
41               FLAG_DOCUMENT_7  0.000000
42               FLAG_DOCUMENT_8  0.000000
43                  EXT_SOURCE_2  0.000000
44                        TARGET  0.000000
45               AMT_GOODS_PRICE  0.000000
46                    DAYS_BIRTH  0.000000
47    REGION_POPULATION_RELATIVE  0.000000
48             NAME_HOUSING_TYPE  0.000000
49            NAME_FAMILY_STATUS  0.000000
50           NAME_EDUCATION_TYPE  0.000000
51              NAME_INCOME_TYPE  0.000000
52               NAME_TYPE_SUITE  0.000000
53                   AMT_ANNUITY  0.000000
54             DAYS_REGISTRATION  0.000000
55                    AMT_CREDIT  0.000000
56              AMT_INCOME_TOTAL  0.000000
57                  CNT_CHILDREN  0.000000
58               FLAG_OWN_REALTY  0.000000
59                  FLAG_OWN_CAR  0.000000
60                   CODE_GENDER  0.000000
61            NAME_CONTRACT_TYPE  0.000000
62                 DAYS_EMPLOYED  0.000000
63               DAYS_ID_PUBLISH  0.000000
64       LIVE_CITY_NOT_WORK_CITY  0.000000
65   REGION_RATING_CLIENT_W_CITY  0.000000
66        REG_CITY_NOT_WORK_CITY  0.000000
67        REG_CITY_NOT_LIVE_CITY  0.000000
68   LIVE_REGION_NOT_WORK_REGION  0.000000
69    REG_REGION_NOT_WORK_REGION  0.000000
70    REG_REGION_NOT_LIVE_REGION  0.000000
71       HOUR_APPR_PROCESS_START  0.000000
72    WEEKDAY_APPR_PROCESS_START  0.000000
73          REGION_RATING_CLIENT  0.000000
74                   OWN_CAR_AGE  0.000000
75               CNT_FAM_MEMBERS  0.000000
76                    FLAG_EMAIL  0.000000
77                    FLAG_PHONE  0.000000
78              FLAG_CONT_MOBILE  0.000000
79               FLAG_WORK_PHONE  0.000000
80                FLAG_EMP_PHONE  0.000000
81                    FLAG_MOBIL  0.000000
82              Flag_OWN_CAR_AGE  0.000000

## Arbol de Decisión

Ahora viene el paso de hacer arboles de decisión
* Los que sean valores enteros lo consideraremos de clasificación
* los valores flotantes como de regresión

In [28]:
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.preprocessing import LabelEncoder

Dos opciones que tenemos aqui como en el siguiente apartado:
1. Que las que se han entrenado y predicho entren para predecir la siguiente
2. Que se entrenen solo con las que no tienen nulos hasta este punto y se predice cada una.

```para esta solución optamos por la segunda```

Además aquellas variables que sean objeto no la utilizaremos para entrenar, para así evitarnos utilziar el labeleconder y asi evitar si una variable no ha sido vista por el label enconer no tenga problemas

In [29]:
Variables_Entrenamiento_Posibles=pd.DataFrame(df.isnull().sum().sort_values(ascending=False)/len(df)).reset_index()
Variables_Entrenamiento_Posibles.columns=["Columnas","Porcentaje"]
Variables_Entrenamiento_Posibles=Variables_Entrenamiento_Posibles[Variables_Entrenamiento_Posibles["Porcentaje"]==0.0]["Columnas"].values

In [30]:
Variables_Entrenamiento=df[Variables_Entrenamiento_Posibles].select_dtypes(exclude="object").columns

In [31]:
for Variables_Arbol in Variables_Arboles:
    df_arbol=df[list(Variables_Entrenamiento)+[Variables_Arbol]]
    df_arbol_train=df_arbol[~df_arbol[Variables_Arbol].isnull()]
    df_arbol_test=df_arbol[df_arbol[Variables_Arbol].isnull()]
    if df_arbol[Variables_Arbol].dtypes not in ['float32','float64']:
        Modelo_C=DecisionTreeClassifier()
        print("no es flotante")
        if df_arbol[Variables_Arbol].dtypes=='O':
            print("La variable a predecir es tipo objeto")
            Encodar=LabelEncoder()
            df_arbol_train[Variables_Arbol]=Encodar.fit_transform(df_arbol_train[Variables_Arbol])
            print("termina el encoder")
        Modelo_C.fit(df_arbol_train[list(Variables_Entrenamiento)],df_arbol_train[Variables_Arbol])
        df_arbol_test[Variables_Arbol]=Modelo_C.predict(df_arbol_test[list(Variables_Entrenamiento)])
        if df_arbol[Variables_Arbol].dtypes=='O':
            df_arbol_train[Variables_Arbol]=Encodar.inverse_transform(df_arbol_train[Variables_Arbol])
            df_arbol_test[Variables_Arbol]=Encodar.inverse_transform(df_arbol_test[Variables_Arbol])
        df_conjunto=pd.concat([df_arbol_train,df_arbol_test]).sort_index()
        df[Variables_Arbol]=df_conjunto[Variables_Arbol]

    else:
        Modelo_R=DecisionTreeRegressor()
        print("no es flotante")
        if df_arbol_train[Variables_Arbol].dtypes=='O':
            print("Es tipo objeto")
            for columna in df_arbol_train.columns:
                if df_arbol_train[columna].dtypes=='O':
                    Encodar=LabelEncoder()
                    df_arbol_train[columna]=Encodar.fit_transform(df_arbol_train[columna])
                print("termina el encoder")
        Modelo_R.fit(df_arbol_train[list(Variables_Entrenamiento)],df_arbol_train[Variables_Arbol])
        df_arbol_test[Variables_Arbol]=Modelo_R.predict(df_arbol_test[list(Variables_Entrenamiento)])
        df_conjunto=pd.concat([df_arbol_train,df_arbol_test]).sort_index()
        df[Variables_Arbol]=df_conjunto[Variables_Arbol]

no es flotante
La variable a predecir es tipo objeto

C:\Users\Daniel Montes\AppData\Local\Temp\ipykernel_16952\1168305884.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_arbol_train[Variables_Arbol]=Encodar.fit_transform(df_arbol_train[Variables_Arbol])

termina el encoder

C:\Users\Daniel Montes\AppData\Local\Temp\ipykernel_16952\1168305884.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_arbol_test[Variables_Arbol]=Modelo_C.predict(df_arbol_test[list(Variables_Entrenamiento)])
C:\Users\Daniel Montes\AppData\Local\Temp\ipykernel_16952\1168305884.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_arbol_train[Variables_Arbol]=Encodar.inverse_transform(df_arbol_train[Variables_Arbol])
C:\Users\Daniel Montes\AppData\Local\Temp\ipykernel_16952\1168305884.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_arbol_test[Variables_Arbol]=Encodar.inverse_transform(df_arbol_test[Variables_Arbol])

no es flotante

C:\Users\Daniel Montes\AppData\Local\Temp\ipykernel_16952\1168305884.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_arbol_test[Variables_Arbol]=Modelo_R.predict(df_arbol_test[list(Variables_Entrenamiento)])

no es flotante
La variable a predecir es tipo objeto
termina el encoder

C:\Users\Daniel Montes\AppData\Local\Temp\ipykernel_16952\1168305884.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_arbol_train[Variables_Arbol]=Encodar.fit_transform(df_arbol_train[Variables_Arbol])
C:\Users\Daniel Montes\AppData\Local\Temp\ipykernel_16952\1168305884.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_arbol_test[Variables_Arbol]=Modelo_C.predict(df_arbol_test[list(Variables_Entrenamiento)])
C:\Users\Daniel Montes\AppData\Local\Temp\ipykernel_16952\1168305884.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_arbol_train[Variables_Arbol]=Encodar.inverse_transform(df_arbol_train[Variables_Arbol])
C:\Users\Daniel Montes\AppData\Local\Temp\ipykernel_16952\1168305884.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_arbol_test[Variables_Arbol]=Encodar.inverse_transform(df_arbol_test[Variables_Arbol])

no es flotante

C:\Users\Daniel Montes\AppData\Local\Temp\ipykernel_16952\1168305884.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_arbol_test[Variables_Arbol]=Modelo_R.predict(df_arbol_test[list(Variables_Entrenamiento)])

no es flotante

C:\Users\Daniel Montes\AppData\Local\Temp\ipykernel_16952\1168305884.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_arbol_test[Variables_Arbol]=Modelo_R.predict(df_arbol_test[list(Variables_Entrenamiento)])

no es flotante

C:\Users\Daniel Montes\AppData\Local\Temp\ipykernel_16952\1168305884.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_arbol_test[Variables_Arbol]=Modelo_R.predict(df_arbol_test[list(Variables_Entrenamiento)])

no es flotante

C:\Users\Daniel Montes\AppData\Local\Temp\ipykernel_16952\1168305884.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_arbol_test[Variables_Arbol]=Modelo_R.predict(df_arbol_test[list(Variables_Entrenamiento)])

no es flotante

C:\Users\Daniel Montes\AppData\Local\Temp\ipykernel_16952\1168305884.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_arbol_test[Variables_Arbol]=Modelo_R.predict(df_arbol_test[list(Variables_Entrenamiento)])

no es flotante

C:\Users\Daniel Montes\AppData\Local\Temp\ipykernel_16952\1168305884.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_arbol_test[Variables_Arbol]=Modelo_R.predict(df_arbol_test[list(Variables_Entrenamiento)])

In [32]:
## Nos quedamos con la variable mayor cero para que sean nuestras variables depependientes
Var_Aux=pd.DataFrame(df.isnull().sum().sort_values(ascending=False)).reset_index().rename(columns={"index":"Variables",
                                                                                                           0:"Recuento"})
Var_Dependientes=Var_Aux[Var_Aux["Recuento"]>0]["Variables"].values
Var_Independientes=Var_Aux[Var_Aux["Recuento"]==0]["Variables"].values

In [33]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [53]:
Variables_KMEANS=Var_Dependientes[0]
df_kmeans=df.copy()
df_conjunto=pd.DataFrame()

for var_inde in Var_Independientes:
    if df_kmeans[var_inde].dtypes=='O':
        print("La variable a predecir es tipo objeto")
        Encodar=LabelEncoder()
        df_kmeans[var_inde]=Encodar.fit_transform(df_kmeans[var_inde])
        print("termina el encoder")
# COgemos una muestra para no tardar mucho
df_kmeans1=df_kmeans[Var_Independientes].sample(400,random_state=42)

# for Variable_KMEAN in [Variables_KMEANS]:
silueta_media=[]
for num_cluster in range(2,5):
    cluster=KMeans(n_clusters=num_cluster)
    cluster.fit(df_kmeans1)
    cluster_label=cluster.labels_
    silueta_media.append(silhouette_score(df_kmeans1,cluster_label))
Mejor_KMEANS=np.argmax(silueta_media)+2
##Una vez seleccionado
df_kmeans_Entreno=df_kmeans[Var_Independientes]
cluster=KMeans(n_clusters=Mejor_KMEANS)
cluster.fit(df_kmeans_Entreno)
df_kmeans_Entreno["Cluster"]=cluster.predict(df_kmeans_Entreno)
for Variable_KMEAN in [Variables_KMEANS]:
    df_kmeans_Entreno[Variable_KMEAN]=df[Variable_KMEAN]
    for cluster_num in df_kmeans_Entreno["Cluster"].unique():
        print(f"{cluster_num}")
        clusterizado=df_kmeans_Entreno[df_kmeans_Entreno["Cluster"]==cluster_num].drop(columns="Cluster")
        clusterizado_train=clusterizado[~clusterizado[Variable_KMEAN].isnull()]
        clusterizado_test=clusterizado[clusterizado[Variable_KMEAN].isnull()]
        if df[Variable_KMEAN].dtypes not in ['float32','float64']:
            print("Clasificacion")
            Modelo_C=DecisionTreeClassifier()
            Modelo_C.fit(clusterizado_train[Var_Independientes],clusterizado_train[Variable_KMEAN])
            clusterizado_test[Variable_KMEAN]=Modelo_C.predict(clusterizado_test[Var_Independientes])
        else:
            print("Regresion")
            Modelo_R=DecisionTreeRegressor()
            Modelo_R.fit(clusterizado_train[Var_Independientes],clusterizado_train[Variable_KMEAN])
            clusterizado_test[Variable_KMEAN]=Modelo_R.predict(clusterizado_test[Var_Independientes])
    
        df_conjunto_Aux=pd.concat([clusterizado_train,clusterizado_test])
    df_conjunto=pd.concat([df_conjunto,df_conjunto_Aux]).sort_index()
    df[Variable_KMEAN]=df_conjunto[Variable_KMEAN]

La variable a predecir es tipo objeto
termina el encoder
La variable a predecir es tipo objeto
termina el encoder
La variable a predecir es tipo objeto
termina el encoder
La variable a predecir es tipo objeto
termina el encoder
La variable a predecir es tipo objeto
termina el encoder
La variable a predecir es tipo objeto
termina el encoder
La variable a predecir es tipo objeto
termina el encoder
La variable a predecir es tipo objeto
termina el encoder
La variable a predecir es tipo objeto
termina el encoder
La variable a predecir es tipo objeto
termina el encoder
La variable a predecir es tipo objeto
termina el encoder
La variable a predecir es tipo objeto
termina el encoder

C:\Users\Daniel Montes\AppData\Local\Temp\ipykernel_16952\1135729576.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_kmeans_Entreno["Cluster"]=cluster.predict(df_kmeans_Entreno)
C:\Users\Daniel Montes\AppData\Local\Temp\ipykernel_16952\1135729576.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_kmeans_Entreno[Variable_KMEAN]=df[Variable_KMEAN]

0
Regresion

C:\Users\Daniel Montes\AppData\Local\Temp\ipykernel_16952\1135729576.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clusterizado_test[Variable_KMEAN]=Modelo_R.predict(clusterizado_test[Var_Independientes])

1
Regresion

ValueError: Found array with 0 sample(s) (shape=(0, 75)) while a minimum of 1 is required.

In [59]:
df_kmeans_Entreno[df_kmeans_Entreno["Cluster"]==1][Variables_KMEANS].value_counts(dropna=False)

NaN    96613
Name: FLOORSMAX_AVG, dtype: int64

In [60]:
Modelo_R=DecisionTreeRegressor()
Modelo_R.fit(df_kmeans_Entreno[Var_Independientes],df_kmeans_Entreno["Cluster"])

DecisionTreeRegressor()

In [63]:
Diccionario={}
for x,y in zip(Modelo_R.feature_names_in_,Modelo_R.feature_importances_):
    if y>0:
        Diccionario[x]=y

In [67]:
sorted(Diccionario.items(),key=lambda x:x[1])

[('REG_REGION_NOT_LIVE_REGION', 2.9703761793158743e-06),
 ('AMT_REQ_CREDIT_BUREAU_YEAR', 7.5461012969676116e-06),
 ('NAME_INCOME_TYPE', 7.847956253792069e-06),
 ('FLAG_WORK_PHONE', 1.194108337102567e-05),
 ('NAME_EDUCATION_TYPE', 1.2576835494946019e-05),
 ('REGION_RATING_CLIENT_W_CITY', 1.2576835494946019e-05),
 ('TARGET', 1.3931263932863267e-05),
 ('DEF_60_CNT_SOCIAL_CIRCLE', 1.437352627993831e-05),
 ('AMT_REQ_CREDIT_BUREAU_MON', 1.4373635693346744e-05),
 ('OBS_30_CNT_SOCIAL_CIRCLE', 1.8110643112722267e-05),
 ('ORGANIZATION_TYPE', 1.8293578901739665e-05),
 ('AMT_REQ_CREDIT_BUREAU_WEEK', 2.1893009935646773e-05),
 ('WEEKDAY_APPR_PROCESS_START', 2.4147524150296348e-05),
 ('NAME_HOUSING_TYPE', 2.704019631413394e-05),
 ('HOUR_APPR_PROCESS_START', 3.169362544726397e-05),
 ('OWN_CAR_AGE', 3.647282293534345e-05),
 ('CNT_CHILDREN', 3.760577753778074e-05),
 ('REGION_POPULATION_RELATIVE', 3.848511661453481e-05),
 ('EXT_SOURCE_2', 4.0451465485224506e-05),
 ('DAYS_LAST_PHONE_CHANGE', 4.2374261129125814e-05),
 ('OBS_60_CNT_SOCIAL_CIRCLE', 4.2824124860291196e-05),
 ('DAYS_ID_PUBLISH', 4.6965497119698415e-05),
 ('REGION_RATING_CLIENT', 5.062219065067794e-05),
 ('SK_ID_CURR', 5.258881817279934e-05),
 ('DAYS_REGISTRATION', 7.083861758646866e-05),
 ('FLAG_DOCUMENT_6', 7.606494765183189e-05),
 ('DAYS_BIRTH', 7.965777794441405e-05),
 ('AMT_ANNUITY', 0.00016222408201312154),
 ('FLAG_EMP_PHONE', 0.000259707886752651),
 ('DAYS_EMPLOYED', 0.00031885851672601646),
 ('AMT_INCOME_TOTAL', 0.0033408689392273937),
 ('AMT_GOODS_PRICE', 0.028797299849917187),
 ('AMT_CREDIT', 0.9662667731158167)]